<%- include('partials/header'); -%>

  <header>
    <div class="smoothie">
    </div>
    <div class="headings">
      <h2>Sign-up | Log-in Project</h2>
      <a href="/profile" class="btn">Profile</a>
    </div>
  </header>


  <%- include('partials/footer'); -%>