<%- include('partials/header'); -%>

  <ul class="profiles">
    <li class="profile">
      <h4>Weclcome</h4>
      <p>this is profile page</p>
    </li>
  </ul>

  <%- include('partials/footer'); -%>